<div class="row">

<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="cardstats blue">
        <div class="title">Sprints</div>
        <i class="zmdi zmdi-upload"></i>
        <div class="value">{{ totalSprints }}</div>
        <div class="stat">Total Sprints</div>
          </div>
  </div>

   <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="cardstats green">
                        <div class="title">Features</div>
                        <i class="zmdi zmdi-upload"></i>
                        <div class="value">{{ totalFeatures }}</div>
                        <div class="stat">Total Features</div>
                                        </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="cardstats orange">
                        <div class="title">User stories</div>
                        <i class="zmdi zmdi-download"></i>
                        <div class="value">{{ totalUs }}</div>
                        <div class="stat">Total User stories</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="cardstats red">
                        <div class="title">Tasks</div>
                        <i class="zmdi zmdi-download"></i>
                        <div class="value">{{ totalTasks }}</div>
                        <div class="stat">Total Tasks</div>
                    </div> 
                </div> 
            </div>